<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="direction123.calendar">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".applications.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Our ContentProvider -->
        <provider
            android:name=".data.CalendarProvider"
            android:authorities="@string/content_authority"
            android:exported="false"/>

        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".AboutActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>